*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 1rem; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 0.03rem; }

h2,
h1 {
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

section {
  padding: 5rem; }

.btn {
  border-radius: 1.875rem;
  font-size: 0.75rem;
  border: 1px solid #8a2be2;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  outline: unset;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  background-color: transparent; }

.header {
  position: sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #190217;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 5rem; }
  .header__title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.05rem; }
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__link-item {
      padding: 0.5rem 1.2rem; }
      .header__link-item > * {
        color: #fff; }

.hero {
  background-color: #000;
  color: #fff;
  background-image: url(../../images/dice.jpg);
  background-size: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: 100% 65%;
  height: 75vh;
  position: relative; }
  .hero__text {
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 3rem;
    font-weight: 700; }
  .hero__btn {
    position: absolute;
    bottom: -13%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #8a2be2;
    color: #fff;
    padding: 1.2rem 2.2rem;
    font-size: 1.5rem;
    font-weight: bold; }

.features-text {
  font-size: 1.7rem; }
  .features-text span {
    color: #8a2be2;
    font-weight: bold; }

.features-instant {
  margin-top: 15rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem; }
  .features-instant__text {
    border-top: 3px solid #8a2be2;
    padding-top: 1.3rem; }
    .features-instant__text-main {
      padding: 1rem 0; }
    .features-instant__text-sub {
      width: 80%;
      font-size: 0.9rem;
      color: #808080; }
    .features-instant__text-btn {
      margin-top: 3rem;
      font-weight: 800; }
  .features-instant__image {
    width: 35rem;
    height: 22rem; }
    .features-instant__image-img {
      width: 100%;
      height: 100%; }
  .features-instant__football {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10rem;
    margin-top: 15rem; }
    .features-instant__football-text {
      border-top: 3px solid #8a2be2;
      padding: 1.3rem 6rem;
      padding-left: 9rem;
      padding-right: 0rem; }
      .features-instant__football-text--main {
        padding: 1rem 0; }
      .features-instant__football-text--sub {
        margin-top: -0.5rem;
        color: #808080;
        margin-bottom: 1rem;
        font-size: 0.9rem; }
  .features-instant__music {
    margin-top: 15rem;
    margin-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10rem; }
    .features-instant__music-text {
      border-top: 3px solid #8a2be2;
      padding-top: 1.3rem; }
      .features-instant__music-text--main {
        padding: 1rem 0; }
      .features-instant__music-text--sub {
        width: 80%;
        font-size: 0.9rem;
        color: #808080; }
      .features-instant__music-text--btn {
        margin-top: 3rem;
        font-weight: 800; }

.about-game {
  background-color: #190217;
  color: #fff; }
  .about-game__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8rem;
    margin-top: 8rem; }
    .about-game__about-image {
      width: 50rem;
      padding: 1.3rem 1rem 1.3rem 0rem;
      background-color: #8a2be2;
      border-radius: 5px; }
      .about-game__about-image--pix {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 15%;
        border-radius: 5px; }
  .about-game__winner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8rem;
    margin-top: 8rem; }
    .about-game__winner-image {
      width: 50rem;
      padding: 1.3rem 1rem 1.3rem 0rem;
      background-color: #8a2be2;
      border-radius: 5px; }
      .about-game__winner-image--pix {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: -15%;
        border-radius: 5px; }
  .about-game__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8rem;
    margin-top: 8rem; }
    .about-game__more-image {
      width: 100rem;
      padding: 1.3rem 1rem 1.3rem 0rem;
      background-color: #8a2be2;
      border-radius: 5px; }
      .about-game__more-image--pix {
        width: 100%;
        display: block;
        margin-left: 15%;
        border-radius: 5px; }

.creator {
  padding-left: 10rem;
  padding-right: 10rem; }
  .creator__president {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7rem; }
    .creator__president-image {
      width: 23rem;
      height: 23rem; }
      .creator__president-image--pix {
        width: 100%;
        height: 100%;
        display: block; }
    .creator__president-bio {
      width: 90%; }
      .creator__president-bio--title {
        color: #000; }
      .creator__president-bio--text {
        padding-top: 1rem;
        color: #808080; }
  .creator__ceo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7rem;
    margin-top: 5rem; }
    .creator__ceo-image {
      width: 23rem;
      height: 23rem; }
      .creator__ceo-image--pix {
        width: 100%;
        height: 100%; }
    .creator__ceo-bio {
      width: 100%; }
      .creator__ceo-bio--title {
        color: #000; }
      .creator__ceo-bio--text {
        padding-top: 1rem;
        color: #808080; }

.career {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #190217;
  padding: 0; }
  .career__text {
    color: #fff;
    padding-left: 5rem; }
    .career__text-sub {
      margin-top: 2rem;
      width: 60%; }
  .career__btn {
    color: #fff;
    margin-top: 2rem; }
  .career__image {
    position: relative;
    width: 100rem;
    height: 24rem; }
    .career__image-pix {
      width: 100%;
      height: 100%; }
  .career__image::before {
    position: absolute;
    content: " ";
    background-color: #8a2be2;
    height: 10rem;
    width: 3rem;
    top: 30%;
    left: -7.5%; }

.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  position: relative;
  padding-bottom: 20rem; }
  .newsletter__text-main {
    margin-bottom: 0.5rem; }
  .newsletter__text-sub {
    margin-bottom: 1.5rem; }
    .newsletter__text-sub .emphasis {
      color: red;
      font-weight: bold; }
  .newsletter__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.2rem; }
    .newsletter__form-email {
      padding: 1rem;
      font-size: 1rem; }
      .newsletter__form-email:focus {
        outline: unset; }
    .newsletter__form-submit {
      padding: 1rem;
      font-size: 1rem;
      border-radius: 5rem;
      border: unset;
      color: #fff;
      background-color: #190217; }
      .newsletter__form-submit:focus {
        outline: unset; }
  .newsletter__more {
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  padding-top: 20rem;
  background-color: #190217;
  position: relative; }
  .footer__company {
    text-align: center; }
    .footer__company-address {
      margin-top: 1rem;
      color: #808080;
      font-size: 0.8rem;
      margin-bottom: 0.5rem; }
    .footer__company-email {
      color: #808080;
      font-size: 0.8rem; }
  .footer__options {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    padding: 1rem 5rem;
    border-bottom: 1px solid #808080; }
  .footer .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem 5rem; }
  .footer__download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem; }
    .footer__download-android, .footer__download-apple, .footer__download-playStore {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      gap: 1rem;
      padding: 0.2rem 1rem;
      background-color: #32fe5f;
      color: #fff;
      border-radius: 10px;
      border: 2px solid #fff; }
      .footer__download-android .flex, .footer__download-apple .flex, .footer__download-playStore .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .footer__download-android p, .footer__download-apple p, .footer__download-playStore p {
        font-size: 0.8rem; }
      .footer__download-android h2, .footer__download-apple h2, .footer__download-playStore h2 {
        font-size: 1rem; }
    .footer__download-apple, .footer__download-playStore {
      background-color: #000; }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.8rem; }
    .footer__social [class^="fab"] {
      border-radius: 50%;
      padding: 0.5rem;
      background-color: rgba(128, 128, 128, 0.5); }
  .footer__footer {
    margin-top: 8rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: #fff; }
    .footer__footer span {
      color: #8a2be2;
      font-size: 1.3rem; }
  .footer__games {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    position: absolute;
    top: 8%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .footer__games-instant, .footer__games-live {
      width: 25rem;
      padding: 1rem 2rem;
      color: rgba(0, 0, 0, 0.8); }
    .footer__games p {
      color: #fff; }
    .footer__games-instant {
      background-image: url(../../images/phone.png);
      background-repeat: no-repeat;
      background-size: cover;
      -o-object-fit: contain;
         object-fit: contain;
      background-position: center; }
    .footer__games-live {
      background-image: url(../../images/roll-dice.png);
      background-repeat: no-repeat;
      background-size: cover;
      -o-object-fit: contain;
         object-fit: contain;
      background-position: center; }
    .footer__games-live--btn {
      margin-top: 2rem;
      background-color: yellow;
      border: 1px solid white;
      color: #fff;
      font-weight: bold; }
    .footer__games-instant--btn {
      margin-top: 2rem;
      background-color: #8a2be2;
      border: 1px solid white;
      color: #fff;
      font-weight: bold; }
