@include respond(sm-phone) {
  body {
    overflow-x: hidden;
  }
}

.hero {
  background-color: $black-color;
  color: $white-color;
  background-image: url(../../images/dice.jpg);
  background-size: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: 100% 65%;
  height: 75vh;
  position: relative;

  @include respond(phone) {
    height: 40vh;
  }

  @include respond(sm-phone) {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 100%;
    height: 50vh;
  }

  &__text {
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 3rem;
    font-weight: 700;

    @include respond(phone) {
      font-size: 1.2rem;
    }

    @include respond(sm-phone) {
      font-size: 1.5rem;
      left: 5%;
      width: 40%;
      top: 75%;
    }
  }

  &__btn {
    position: absolute;
    bottom: -13%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $purple-color;
    color: $white-color;
    padding: 1.2rem 2.2rem;
    font-size: 1.5rem;
    font-weight: bold;

    @include respond(phone) {
      bottom: -17%;
      padding: 1rem 2rem;
      font-size: 0.8rem;
    }

    @include respond(sm-phone) {
      display: none;
    }
  }
}

// Features section

.features {
  &-text {
    font-size: 1.7rem;

    @include respond(sm-phone) {
      font-size: 1rem;
    }

    span {
      color: $purple-color;
      font-weight: bold;
    }
  }

  &-instant {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    gap: 10rem;

    @include respond(tab-land) {
      gap: 3rem;
    }

    @include respond(phone) {
      margin-top: 5rem;
      margin-bottom: 2rem;
      flex-direction: column;
      gap: 3rem;
    }

    @include respond(sm-phone) {
      margin-top: 5rem;
      margin-bottom: 2rem;
      flex-direction: column;
      gap: 3rem;
    }

    &__text {
      border-top: 3px solid $purple-color;
      padding-top: 1.3rem;

      @include respond(phone) {
        order: 1;
      }

      @include respond(sm-phone) {
        order: 1;
      }

      &-main {
        padding: 1rem 0;
        @include respond(sm-phone) {
          font-size: 0.8rem;
        }
      }

      &-sub {
        width: 80%;
        font-size: 0.9rem;
        color: $light-gray;

        @include respond(sm-phone) {
          font-size: 0.7rem;
        }
      }

      &-btn {
        margin-top: 3rem;
        font-weight: 800;

        @include respond(sm-phone) {
          margin-top: 1rem;
        }
      }
    }

    &__image {
      width: 35rem;
      height: 22rem;

      @include respond(phone) {
        width: 20rem;
        height: 12rem;
      }
      @include respond(sm-phone) {
        width: 15rem;
        height: 12rem;
      }

      &-img {
        width: 100%;
        height: 100%;
      }
    }

    &__football {
      display: flex;
      gap: 10rem;
      margin-top: 10rem;

      @include respond(tab-land) {
        gap: 3rem;
      }

      @include respond(phone) {
        margin-top: 5rem;
        flex-direction: column;
        gap: 3rem;
      }

      @include respond(sm-phone) {
        margin-top: 5rem;
        flex-direction: column;
        gap: 3rem;
      }

      &-image {
        @include respond(tab-land) {
          width: 80rem;
        }

        @include respond(phone) {
          width: 20rem;
          height: 12rem;
        }

        @include respond(sm-phone) {
          width: 15rem;
          height: 12rem;
        }

        &--img {
          width: 100%;
          @include respond(tab-land) {
            height: 100%;
          }
        }
      }

      &-text {
        border-top: 3px solid $purple-color;
        padding: 1.3rem 6rem;
        padding-left: 9rem;
        padding-right: 0rem;

        @include respond(tab-land) {
          padding-left: 2rem;
          padding-right: 6rem;
        }

        @include respond(sm-phone) {
          padding-left: 0;
        }

        &--main {
          padding: 1rem 0;

          @include respond(sm-phone) {
            font-size: 0.8rem;
          }
        }

        &--sub {
          margin-top: -0.5rem;
          color: $light-gray;
          margin-bottom: 1rem;
          font-size: 0.9rem;

          @include respond(sm-phone) {
            font-size: 0.7rem;
            margin-top: 0rem;
          }
        }
      }
    }

    &__music {
      margin-top: 10rem;
      margin-bottom: 5rem;
      display: flex;
      gap: 10rem;

      @include respond(tab-land) {
        gap: 3rem;
      }

      @include respond(phone) {
        margin-top: 5rem;
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 3rem;
      }

      @include respond(sm-phone) {
        margin-top: 5rem;
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 3rem;
      }

      &-text {
        border-top: 3px solid $purple-color;
        padding-top: 1.3rem;

        @include respond(phone) {
          order: 1;
        }
        &--main {
          padding: 1rem 0;
        }
        &--sub {
          width: 80%;
          font-size: 0.9rem;
          color: $light-gray;
        }

        &--btn {
          margin-top: 3rem;
          font-weight: 800;

          @include respond(sm-phone) {
            margin-top: 1rem;
          }
        }
      }
      &-image {
        @include respond(phone) {
          width: 20rem;
          height: 12rem;
        }

        @include respond(sm-phone) {
          width: 15rem;
          height: 10rem;
        }

        &--img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// ABOUT
.about-game {
  background-color: $dark-purple;
  color: $white-color;

  @include respond(tab-land) {
    padding-top: 0.2rem;
  }

  &__about {
    display: flex;
    gap: 8rem;
    margin-top: 3rem;

    @include respond(tab-land) {
      margin-top: 4rem;
      gap: 4rem;
    }

    @include respond(phone) {
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;
    }

    @include respond(sm-phone) {
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;
    }

    &-image {
      width: 50rem;
      padding: 1.3rem 1rem 1.3rem 0rem;
      background-color: $purple-color;
      border-radius: 5px;

      @include respond(phone) {
        width: 90%;
        padding: 1.3rem 1rem 1.3rem 0rem;
        order: 1;
      }

      @include respond(sm-phone) {
        width: 14rem;
        padding: 0rem 0.4rem 0.4rem 0rem;
        order: 1;
      }

      &--pix {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 15%;
        border-radius: 5px;

        @include respond(phone) {
          margin-left: 10%;
        }

        @include respond(sm-phone) {
          margin-left: 0%;
        }
      }
    }
    &-text {
      &-main {
        @include respond(sm-phone) {
          font-size: 1rem;
        }
      }
      &-sub {
        @include respond(sm-phone) {
          font-size: 0.6rem;
          margin-top: 1rem;
        }
      }
    }
  }

  &__winner {
    display: flex;
    gap: 8rem;
    margin-top: 8rem;

    @include respond(tab-land) {
      gap: 4rem;
    }

    @include respond(phone) {
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;
    }

    @include respond(sm-phone) {
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;
    }

    &-image {
      width: 50rem;
      padding: 1.3rem 1rem 1.3rem 0rem;
      background-color: $purple-color;
      border-radius: 5px;

      @include respond(phone) {
        width: 90%;
        padding: 1.3rem 1rem 1.3rem 0rem;
        order: 1;
      }

      @include respond(sm-phone) {
        width: 14rem;
        padding: 0rem 0rem 0.4rem 0.4rem;
        order: 1;
      }

      &--pix {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: -15%;
        border-radius: 5px;

        @include respond(phone) {
          margin-left: 0%;
        }

        @include respond(sm-phone) {
          margin-left: 0%;
        }
      }
    }

    &-text {
      &-main {
        @include respond(sm-phone) {
          font-size: 1rem;
        }
      }
      &-sub {
        @include respond(sm-phone) {
          font-size: 0.6rem;
          margin-top: 1rem;
        }
      }
    }
  }

  &__more {
    display: flex;
    gap: 8rem;
    margin-top: 8rem;

    @include respond(tab-land) {
      gap: 4rem;
    }

    @include respond(phone) {
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;
    }

    @include respond(sm-phone) {
      flex-direction: column;
      gap: 3rem;
      margin-top: 2rem;
    }

    &-image {
      width: 100rem;
      padding: 1.3rem 1rem 1.3rem 0rem;
      background-color: $purple-color;
      border-radius: 5px;

      @include respond(tab-land) {
        height: 14rem;
      }

      @include respond(phone) {
        width: 90%;
        height: 20rem;
        padding: 1.3rem 1rem 1.3rem 0rem;
        order: 1;
      }

      @include respond(sm-phone) {
        width: 14rem;
        height: 12rem;
        padding: 0rem 0.4rem 0.4rem 0rem;
        order: 1;
      }

      &--pix {
        width: 100%;
        height: 100%;
        display: block;
        margin-left: 15%;
        border-radius: 5px;

        @include respond(phone) {
          margin-left: 10%;
        }

        @include respond(sm-phone) {
          margin-left: 0%;
        }
      }
    }

    &-text {
      &-main {
        @include respond(sm-phone) {
          font-size: 1rem;
        }
      }
      &-sub {
        @include respond(sm-phone) {
          font-size: 0.6rem;
          margin-top: 1rem;
        }
      }
    }
  }
}

// CREATORS SECTION
.creator {
  padding-left: 10rem;
  padding-right: 10rem;

  @include respond(mini-lap) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include respond(tab-land) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include respond(sm-phone) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__president {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7rem;

    @include respond(mini-lap) {
      gap: 4rem;
      align-items: center;
    }

    @include respond(tab-land) {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      font-size: 0.8rem;
      flex-direction: column;
    }

    @include respond(sm-phone) {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      font-size: 0.8rem;
      flex-direction: column;
    }

    &-image {
      width: 23rem;
      height: 23rem;

      @include respond(tab-land) {
        width: 30rem;
        height: 30rem;
      }

      @include respond(phone) {
        width: 20rem;
        height: 20rem;
      }

      @include respond(sm-phone) {
        width: 15rem;
        height: 15rem;
      }

      &--pix {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    &-bio {
      width: 90%;

      &--name {
        @include respond(tab-land) {
          text-align: center;
        }
      }

      @include respond(sm-phone) {
        width: 100%;
      }

      &--title {
        color: $black-color;
        @include respond(tab-land) {
          text-align: center;
        }
      }

      &--text {
        padding-top: 1rem;
        color: $light-gray;
      }
    }
  }

  &__ceo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 7rem;
    margin-top: 5rem;

    @include respond(mini-lap) {
      gap: 4rem;
      align-items: center;
    }

    @include respond(tab-land) {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      font-size: 0.8rem;
      flex-direction: column;
    }

    @include respond(phone) {
      display: flex;
      gap: 1rem;
      margin-top: 3rem;
      font-size: 0.8rem;
      flex-direction: column;
    }

    @include respond(sm-phone) {
      display: flex;
      gap: 1rem;
      margin-top: 3rem;
      font-size: 0.8rem;
      flex-direction: column;
    }

    &-image {
      width: 23rem;
      height: 23rem;

      @include respond(tab-land) {
        width: 30rem;
        height: 30rem;
        margin-top: 3rem;
      }

      @include respond(phone) {
        width: 20rem;
        height: 20rem;
      }

      @include respond(sm-phone) {
        width: 15rem;
        height: 15rem;
      }

      &--pix {
        width: 100%;
        height: 100%;
      }
    }

    &-bio {
      width: 100%;

      @include respond(tab-land) {
        order: 1;
      }

      @include respond(sm-phone) {
        order: 1;
      }

      &--name {
        @include respond(tab-land) {
          text-align: center;
        }
      }

      &--title {
        color: $black-color;
        @include respond(tab-land) {
          text-align: center;
        }
      }

      &--text {
        padding-top: 1rem;
        color: $light-gray;
      }
    }
  }
}

// CAREER'S SECTION
.career {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-purple;
  padding: 0;

  @include respond(tab-land) {
    margin-top: 0rem;
    border: 2px solid black;
  }

  @include respond(phone) {
    margin-top: 3rem;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  @include respond(sm-phone) {
    margin-top: 3rem;
    flex-direction: column;
    padding-bottom: 3rem;
  }

  &__text {
    color: $white-color;
    padding-left: 5rem;

    @include respond(tab-land) {
      padding: 2rem;
    }

    @include respond(sm-phone) {
      padding: 1rem;
    }
    &-main {
      @include respond(sm-phone) {
        font-size: 0.8rem;
        margin-top: 2rem;
        text-transform: capitalize;
      }
    }
    &-sub {
      margin-top: 2rem;
      width: 60%;
      @include respond(tab-land) {
        width: 100%;
      }

      @include respond(sm-phone) {
        width: 100%;
        margin-top: 1rem;
        font-size: 0.8rem;
      }
    }
  }

  &__btn {
    color: $white-color;
    margin-top: 2rem;

    @include respond(sm-phone) {
      margin-top: 1rem;
      margin-bottom: 4rem;
      border: 1px solid $white-color;
    }
  }

  &__image {
    position: relative;
    width: 100rem;
    height: 24rem;

    @include respond(tab-land) {
      width: 130rem;
      height: 15rem;
    }

    @include respond(phone) {
      margin-top: 2rem;
      width: 100%;
      height: 15rem;
    }

    @include respond(sm-phone) {
      width: 100%;
      height: 10rem;
    }

    &-pix {
      width: 100%;
      height: 100%;
    }
  }

  &__image::before {
    position: absolute;
    content: " ";
    background-color: $purple-color;
    height: 10rem;
    width: 3rem;
    top: 30%;
    left: -7.5%;

    @include respond(tab-land) {
      height: 8rem;
      width: 2rem;
      left: -5.5%;
    }

    @include respond(phone) {
      top: -2%;
      left: 50%;
      height: 0.8rem;
      width: 12rem;
      transform: translate(-50%, -50%);
    }

    @include respond(sm-phone) {
      top: -4%;
      left: 50%;
      height: 0.8rem;
      width: 12rem;
      transform: translate(-50%, -50%);
    }
  }
}

// Newsletter

.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8rem;
  position: relative;
  padding-bottom: 20rem;

  @include respond(tab-land) {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
  }

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 10rem;
  }

  @include respond(sm-phone) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 10rem;
  }

  &__text {
    &-main {
      margin-bottom: 0.5rem;
    }

    &-sub {
      margin-bottom: 1.5rem;

      @include respond(sm-phone) {
        font-size: 0.7rem;
      }

      .emphasis {
        color: red;
        font-weight: bold;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    @include respond(phone) {
      width: 100%;
      align-items: center;
    }

    &-email {
      padding: 1rem;
      font-size: 1rem;

      @include respond(tab-land) {
        border: 1px solid #000;
        font-size: 0.8rem;
      }

      @include respond(phone) {
        width: 70%;
      }

      @include respond(sm-phone) {
        padding: 0.5rem;
      }

      &:focus {
        outline: unset;
      }
    }

    &-submit {
      padding: 1rem;
      font-size: 1rem;
      border-radius: 5rem;
      border: unset;
      color: $white-color;
      background-color: $dark-purple;

      @include respond(phone) {
        width: 70%;
      }

      &:focus {
        outline: unset;
      }
    }
  }

  &__more {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(phone) {
      position: relative;
      bottom: 0%;
      left: 0%;
      transform: none;
      background-color: #c4c4c4;
      margin-left: -2rem;
      margin-right: -2rem;

      padding: 5rem 1rem;
    }

    @include respond(sm-phone) {
      position: relative;
      bottom: 0%;
      left: 0%;
      transform: none;
      background-color: #c4c4c4;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      padding: 5rem 1rem;
    }

    &-main {
      @include respond(sm-phone) {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
      }
    }

    &-sub {
      @include respond(sm-phone) {
        font-size: 0.7rem;
      }
    }
  }
}

// FOOTER
.footer {
  padding-top: 20rem;
  background-color: $dark-purple;
  position: relative;

  @include respond(phone) {
    padding-top: 3rem;
    margin-top: -10rem;
  }

  @include respond(sm-phone) {
    margin-top: 10rem;
    padding-top: 3rem;
  }

  &__company {
    text-align: center;

    &-address {
      margin-top: 1rem;
      color: $light-gray;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }

    &-email {
      color: $light-gray;
      font-size: 0.8rem;
    }
  }

  &__options {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
    padding: 1rem 5rem;
    border-bottom: 1px solid $light-gray;

    @include respond(tab-land) {
      justify-content: center;
      padding-top: 3rem;
    }

    @include respond(sm-phone) {
      font-size: 0.7rem;
      padding-top: 3rem;
      justify-content: center;
    }

    &-main {
      @include respond(tab-land) {
        display: none;
      }

      @include respond(sm-phone) {
        display: none;
      }
    }
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    margin: 1rem 5rem;

    @include respond(tab-land) {
      flex-direction: column;
      margin: 1rem 2rem;
    }

    @include respond(phone) {
      margin: 2rem 0.5rem;
      flex-direction: column;
    }

    @include respond(sm-phone) {
      margin: 5rem 0.5rem;
      flex-direction: column;
    }
  }

  &__download {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include respond(tab-land) {
      justify-content: space-around;
      max-width: 100%;
    }

    @include respond(phone) {
      a {
        display: block;
        margin-bottom: 2.5rem;
      }

      justify-content: space-around;
      flex-wrap: wrap;
    }

    @include respond(sm-phone) {
      a {
        display: block;
      }

      justify-content: space-around;
      flex-wrap: wrap;
    }

    &-android,
    &-apple,
    &-playStore {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 0.2rem 1rem;
      background-color: $green-color;
      color: $white-color;
      border-radius: 10px;
      border: 2px solid $white-color;

      .inner {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .flex {
        display: flex;
        flex-direction: column;
      }

      & p {
        font-size: 0.8rem;
        @include respond(sm-phone) {
          font-size: 0.6rem;
        }
      }

      & h2 {
        font-size: 1rem;
        @include respond(sm-phone) {
          font-size: 0.6rem;
        }
      }
    }
    &-android,
    &-apple {
      @include respond(sm-phone) {
        padding: 0.4rem 0.8rem;

        [class^="fab"] {
          display: block;
          margin-right: 0.8rem;
        }

        .inner {
          display: flex;
          align-items: center;
          gap: 0;
        }
      }
    }
    &-playStore {
      @include respond(sm-phone) {
        padding: 0.5rem 1rem;
        order: 1;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;

        [class^="fab"] {
          display: block;
          margin-right: 0rem;
        }

        .inner {
          display: flex;
          align-items: center;
        }
      }
    }
    &-apple,
    &-playStore {
      background-color: $black-color;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    position: relative;

    &::before {
      @include respond(tab-land) {
        position: absolute;
        content: "SOCIAL MEDIA";
        top: -3rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
      }
    }

    @include respond(tab-land) {
      gap: 3rem;
      margin-top: 8rem;
    }

    @include respond(sm-phone) {
      margin-top: 4rem;
    }

    [class^="fab"] {
      border-radius: 50%;
      padding: 0.5rem;
      background-color: rgba($light-gray, 0.5);

      @include respond(tab-land) {
        padding: 0.8rem;
      }

      @include respond(sm-phone) {
        padding: 0.2rem;
      }
    }
  }

  &__footer {
    margin-top: 8rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: $white-color;

    @include respond(phone) {
      font-size: 0.4rem;
    }

    @include respond(sm-phone) {
      margin-top: 1rem;
      font-size: 0.6rem;
    }

    span {
      color: $purple-color;
      font-size: 1.3rem;

      @include respond(phone) {
        font-size: 0.4rem;
      }

      @include respond(sm-phone) {
        font-size: 0.6rem;
      }
    }
  }

  &__games {
    display: flex;
    gap: 5rem;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-land) {
      max-width: 100%;
      gap: 2rem;
    }

    @include respond(phone) {
      display: none;
    }

    @include respond(sm-phone) {
      display: block;
      flex-direction: column;
      top: -55.5%;
      left: 0%;
      gap: 2rem;
      transform: none;
      padding-bottom: 3rem;
      background-color: #c4c4c4;
    }

    &-instant,
    &-live {
      width: 25rem;
      padding: 1rem 2rem;
      color: rgba(black, 0.8);

      @include respond(tab-land) {
        width: 20rem;
        padding: 1rem 1rem;
      }

      @include respond(sm-phone) {
        width: 100%;
        padding: 0.5rem;
        font-size: 0.6rem;
      }

      &--heading {
        color: $white-color;
        @include respond(sm-phone) {
          color: $white-color;
          padding-left: 2rem;
        }
      }

      &--sub {
        @include respond(sm-phone) {
          color: $white-color;
          padding-left: 1rem;
          padding-right: 3rem;
        }
      }
    }

    p {
      color: $white-color;
    }

    &-instant {
      background-image: url(../../images/phone.png);
      background-color: $dark-yellow;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: contain;
      background-position: center;

      @include respond(sm-phone) {
        background: linear-gradient(
          111.47deg,
          #000000 6.61%,
          rgba(0, 0, 0, 0) 64.11%
        );
      }
    }

    &-live {
      background-image: url(../../images/roll-dice.png);
      background-color: $light-gray;
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: contain;
      background-position: center;

      @include respond(sm-phone) {
        background: linear-gradient(
          90.16deg,
          rgba(3, 3, 3, 0.63) 6.81%,
          rgba(0, 41, 255, 0) 82.18%
        );
      }
    }

    &-live--btn {
      margin-top: 2rem;
      background-color: $dark-yellow;
      border: 1px solid white;
      color: $white-color;
      font-weight: bold;

      @include respond(tab-land) {
        margin: 2rem 18%;
      }

      @include respond(sm-phone) {
        background-color: $dark-yellow;
        margin-left: 1rem;
      }
    }

    &-instant--btn {
      margin-top: 2rem;
      background-color: $purple-color;
      border: 1px solid white;
      color: $white-color;
      font-weight: bold;

      @include respond(tab-land) {
        margin: 2rem 18%;
      }

      @include respond(sm-phone) {
        background-color: $blue-color;
        margin-left: 1rem;
      }
    }
  }
}
