.btn {
  border-radius: 1.875rem;
  font-size: 0.75rem;
  border: 1px solid $purple-color;
  text-transform: uppercase;
  color: $black-color;
  text-align: center;
  outline: unset;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
}
